charset-normalizer==3.4.4
choreographer==1.2.0
cssselect2==0.8.0
freetype-py==2.5.1
iniconfig==2.3.0
kaleido==1.1.0
logistro==2.0.1
lxml==6.0.2
narwhals==2.10.1
numpy==2.3.4
orjson==3.11.4
packaging==25.0
pandas==2.3.3
pillow==12.0.0
pip==25.0.1
plotly==6.3.1
pluggy==1.6.0
polars==1.35.1
polars-runtime-32==1.35.1
pyarrow==22.0.0
pycairo==1.28.0
pygments==2.19.2
pytest==8.4.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.11.3
reportlab==4.4.4
rlpycairo==0.4.0
scipy==1.16.3
simplejson==3.20.2
six==1.17.0
svglib==1.6.0
tinycss2==1.4.0
tzdata==2025.2
webencodings==0.5.1
